<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fighter Dashboard</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
    <main class="container">
        
        <h3>Fighter Selection</h3>
        
        <input type="text" id="search-input" placeholder="Enter fighter name (e.g., Jon Jones)">
        <button id="search-btn">Search</button>
        
        <hr>

        <div id="results-container"></div>

    </main>

    <script>
        
        element = document.getElementById("search-btn")
        element.addEventListener("click", search);

        function search(){
            name = document.getElementById("search-input").value
            console.log("Searching for", name)

            path = `http://127.0.0.1:5000/fighters?name=${name}`
            fetch(path) // get the path
            .then(response => response.json()) // then get the response json
            .then(data => {
                console.log(data) // print that response json to console
            })

            


        }
        
    </script>
</body>
</html>